.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.box-shadow
  %h5.my-0.mr-md-auto.font-weight-normal Company name

  %ul.navbar-nav
    %li.nav-item.dropdown
      %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
        Genres
      .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
        %a.dropdown-item{href: books_path}
          All
        .dropdown-divider

        - @genres.each do |genre|
          %a.dropdown-item{href: books_path(genre: genre)}
            = genre
          .dropdown-divider


  - if current_user.blank? && !controller?('sessions')
    %a.btn.btn-outline-primary{href: new_user_session_path} Sign In
  - elsif current_user.persisted?
    = button_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link"
